# Android
*.iml
.gradle
/local.properties
/.idea/
/build/
/captures
.externalNativeBuild
.cxx
*.apk
*.aab

# OS
.DS_Store
Thumbs.db

# Project specific
local.properties

# Capacitor
/node_modules
/package-lock.json

# Windsurf
.windsurfrules

# Documentation (keep untracked)
*.md
